id: bigip-config-utility3

info:
  name: BIG-IP Configuration Utility detected
  author: dwisiswant0
  severity: info


requests:
  - raw:
      - |
        GET /mgmt/tm/sys/management-ip HTTP/1.1
        Host: {{Hostname}}
        User-Agent: Mozilla/5.0 (Windows NT 10.0; rv:68.0) Gecko/20100101 Firefox/68.0
        Accept-Encoding: gzip, deflate
        Accept: */*
        
    matchers-condition: or
    matchers:
      - type: word
        words:
          - "Welcome to the BIG-IP"
          - "Configuration Utility"
        condition: and
        part: body
      - type: word
        words:
          - "WWW-Authenticate: Basic realm"
          - "Enterprise Manager"
        condition: and
        part: header
      - type: word
        words:
          - "check your user-id and password and try again"
        part: body