id: Wordpress-save
info:
  name: Wordpress config file
  author: Excis3
  severity: medium
  description: Get the wordpress config file

requests:
  - method: GET
    path:
      - "{{BaseURL}}/blog/wp-config.php.save"
      - "{{BaseURL}}/wp-config.php.save"
      - "{{BaseURL}}/backup/wp-config.php.save"
      - "{{BaseURL}}/backups/wp-config.php.save"

    matchers-condition: and
    matchers:
      - type: word
        part: body
        words:
          - 'WordPress'
      - type: status
        status:
          - 200
