id: docker-compose-config1

info:
  name: docker-compose.yml exposure
  author: meme-lord,blckraven,geeknik
  severity: medium
  tags: config,exposure,devops


requests:
  - raw:
      - |
        GET /docker-compose.yml HTTP/1.1
        Host: {{Hostname}}
        User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:55.0) Gecko/20100101 Firefox/55
    matchers-condition: and
    matchers:
      - type: dsl
        dsl:
          - 'regex("^version: ", body) && contains(body, "services:")'

      - type: status
        status:
          - 200
