*
!.github/
!.github/**
!src/
!src/**
!poc/
!poc/**
!poc_dedup/
!poc_dedup/**
!poc_excluded/
!poc_excluded/**
!poc_gold_*/
!poc_gold_*/**
!poc_needs_review/
!poc_needs_review/**
!docs/
!docs/**
!.gitignore
!Cargo.toml
!LICENSE
!README.md
!README_EN.md
!date.txt
!poc.txt
!repo.csv