id: composer-config

name: composer-config-file
severity: info

requests:
  - method: GET
    paths:
      - "HOSTNAME/composer.json"
      - "HOSTNAME/composer.lock"
      - "HOSTNAME/.composer/composer.json"
      - "HOSTNAME/vendor/composer/installed.json"
    patterns:
      - packages
      - require