id: android-networkSecurityConfig-insecureTransport

info:
  name: cleartextTrafficPermitted flag is set to True
  author: sklnhunt
  severity: low
  description: Setting the cleartextTrafficPermitted flag to true in app's network security configuration allows app to make unencrypted network connections over HTTP. This can potentially compromise the security and privacy of app's users.

file:
  - extensions:
    - xml

    matchers:
      - type: word
        name: cleartextTrafficPermitted_is_True
        part: body
        words:
          - 'cleartextTrafficPermitted="true"'
