http:
- matchers:
  - status:
    - 200
    type: status
  - condition: or
    type: word
    words:
    - DB_PASSWORD
    - SECRET_KEY
    - API_KEY
  matchers-condition: and
  method: GET
  path:
  - '{{BaseURL}}/.env.example'
id: env-example-file-disclosure
info:
  author: h0tak88r
  description: 'This template checks for the presence of the `.env.example` file,
    which may contain sensitive environment variables.

    '
  name: .env.example File Disclosure
  severity: high
