name: Daily Update Nuclei POCs

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0,12 * * *'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: 1 Clone Repos
      run: cargo run --bin 1_clone_repos --release

    - name: 2 Delete Duplicated
      run: cargo run --bin 2_delete_duplicated --release
        
    - name: 3 Move File
      run: cargo run --bin 3_move_file --release
      
    - name: 4 Download Nuclei
      run: cargo run --bin 4_download_nuclei --release

    - name: 5 Check POC
      run: cargo run --bin 5_check_poc --release
      
    - name: 6 Get Count
      run: cargo run --bin 6_get_count --release
      
    - name: 7 Get POC Name
      run: cargo run --bin 7_get_pocname --release

    - name: 8 Dedup High Quality
      run: cargo run --bin 8_dedup_high_quality --release

    - name: 9 Clean Dir
      run: |
        rm -rf nuclei
        rm -rf target/
      
    - name: Commit and Push changes
      run: |
        echo $(date +'%Y%m%d%H') > date.txt
        git config --local user.email "admin@adysec.com"
        git config --local user.name "adysec"
        git add .
        git commit -am "$(date +'%Y%m%d')"
        git push -v --progress
